<div id="sidebar-menu" ng-class="{'visible' : leftMenu}">
    <ul>
      <li><ul>
      <li>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="searchBar" ng-model="search.productName">
          <label class="mdl-textfield__label" for="searchBar">Rechercher...</label>
        </div>
      </li></ul></li>
      <li><a ng-click="toggleFiltersMenu()">Filtrer</a></li>
        <ul ng-show="showFiltersMenu">
          <li>Des filtres</li>
        </ul>
      <li><a ng-click="toggleSortingMenu()">Trier</a></li>
        <ul ng-show="showSortingMenu">
          <li ng-repeat="category in categories">{{category.categoryName}}</li>
        </ul>
    </ul>

        <div id="pull-bar">
          <div id="sidebar-btn" ng-click="toggleLeftMenu()">
                <i class="material-icons">search</i>
          </div>
        </div>
  </div>

<div class="container" ng-class="{'visible' : leftMenu}">
  <!-- Flex container containing products -->
  <div class="flex-container">
    <div ng-repeat="product in products | filter:search" class="itembox" ng-click="selectProduct(product)">
      <div class="item"><img ng-src="{{product.img}}"></img>
        <div class="editItem" ng-show="isSelected(product)">
            <i class="material-icons" confirmed-click="deleteProduct(product)"
            ng-confirm-click="Êtes vous sur de vouloir supprimer?" ng-show="!isModifying(product)">clear</i>
            <i class="material-icons" ng-click="toggleModifyProduct(product)">mode edit</i>
        </div>
        <div class="placeholder">
          <span class="itemName">{{product.productName}}</span>
          <span class="itemQuantity">{{product.quantity}}</span>
        </div>
      </div>
      <div class="modifyItemBox" ng-class="{ 'active' : isModifying(product) }">
          <form name="newitem" ng-submit="modifyProduct(product)">
              <div class="modifyInput mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="itemName" ng-model="product.productName">
                <label class="mdl-textfield__label" for="itemName">Nom</label>
              </div>
              <div class="modifyInput mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="img" ng-model="product.img">
                <label class="mdl-textfield__label" for="img">Image</label>
              </div>
              <div class="modifyInput__small mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="quantity" ng-model="item.quantity">
                 <label class="mdl-textfield__label" for="sample2">Quantité</label>
                 <span class="mdl-textfield__error">Quantité non valide !</span>
              </div>
              <button id="submitForm" class="mdl-button mdl-js-button mdl-button--raised" type="submit">Save</button>
          </form>
      </div>
    </div>
  </div>
  <!-- / Flex container -->
  <div class="formContainer">
    <button class="addButton mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="toggleAddForm()">
      <i class="material-icons">add</i>
    </button>
    <form class="addForm" ng-class="{'displayed' : addFormDisplayed }" ng-submit="addProduct(newProduct)" novalidate>
        <div class="mdl-textfield mdl-js-textfield" id="itemNameInput">
          <input class="mdl-textfield__input" type="text" id="itemName" ng-model="newProduct.productName">
          <label class="mdl-textfield__label" for="itemName">Nom de l'item</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield" id="imgInput">
          <input class="mdl-textfield__input" type="text" pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" id="img" ng-model="newProduct.img">
          <label class="mdl-textfield__label" for="img">Image</label>
          <span class="mdl-textfield__error">Ceci n'est pas une URL valide</span>
        </div>
        <button id="addItem" class="mdl-button mdl-js-button" type="submit">Add product</button>
    </form>
    </div>
</div>
