<div id="header">
    <div class="logo"><img src="http://icons.iconarchive.com/icons/iconka/saint-whiskers/256/cat-fridge-icon.png"><span id="title">WIMF</span></div>
    <div id="openNav" ng-click="toggleNav()">
      <span></span><span></span><span></span>
    </div>
    <nav id="nav" ng-click="closeNav()" ng-class="{'open' : isOpenedNav()}">
      <ul>
        <li><a ng-click="go('/')">Accueil</a></li>
        <li><a ng-click="go('/monfrigo')">Mon Frigo</a></li>
        <li><a href="#/mescourses">Mes Courses</a></li>
        <li><a href="#/mesrecettes">Mes Recettes</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </nav>
</div>
