*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*****************************************
 *           Page wrapper
 **************************************** */
* {
  margin: 0;
  padding: 0; }

html {
  min-width: 298px; }

body {
  height: 100%;
  background-image: url("/img/bg.png"); }

.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 298px; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

/*****************************************
 *           Responsive Header
 **************************************** */
#header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: url("/img/menu.png");
  color: white; }
  #header .logo {
    position: absolute;
    top: 0;
    left: 3%;
    text-transform: uppercase; }
    #header .logo img {
      height: 50px;
      vertical-align: middle;
      margin-right: 10px; }
    #header .logo #title {
      font-size: 30px;
      vertical-align: middle;
      font-weight: bold; }
  #header #openNav {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 15px;
    margin: 20px; }
    #header #openNav span {
      height: 3px;
      right: 0;
      background-color: #111;
      margin-bottom: 5px;
      display: block; }
  #header #nav {
    width: calc(100% - 60px);
    margin-top: 60px;
    height: 0px;
    float: right; }
    #header #nav ul {
      background: #129ab3;
      width: 100%; }
      #header #nav ul li {
        float: none;
        list-style-type: none; }
        #header #nav ul li a {
          color: white;
          display: block;
          text-decoration: none;
          height: 40px;
          padding: 8px; }
          #header #nav ul li a:hover {
            background-color: #e86d57; }
  #header #nav ul {
    transition: 350ms;
    -moz-transition: 350ms;
    -webkit-transition: 350ms;
    transform: perspective(600) rotate3d(0, 0, 0, 0);
    -moz-transform: perspective(600) rotate3d(0, 0, 0, 0);
    -webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg);
    transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    list-style-type: none; }
  #header #nav.open {
    display: block;
    float: right;
    margin-top: 60px; }
    #header #nav.open ul {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -webkit-transform: perspective(600) rotate3d(0, 0, 0, 0); }

/*****************************************
 *           Page content
 **************************************** */
.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: calc(100% - 60px);
  margin-top: 60px; }
  .content:after {
    content: " ";
    display: block;
    clear: both; }

/*****************************************
 *           Left menu
 **************************************** */
#sidebar-menu {
  position: fixed;
  left: -200px;
  transition: left 0.1s linear;
  background-color: #0ba2bd;
  height: 100%;
  width: 200px;
  padding: 20px; }
  #sidebar-menu ul {
    margin: 0px;
    padding: 0px; }
    #sidebar-menu ul li {
      margin-bottom: 0px;
      list-style: none; }
      #sidebar-menu ul li a {
        background: #0ba2bd;
        color: white;
        font-weight: bold;
        width: 180px;
        padding: 10px;
        display: block;
        text-decoration: none; }
        #sidebar-menu ul li a:hover {
          background: #e86d57; }

#pull-bar {
  display: inline-block;
  position: absolute;
  right: -60px;
  top: 0px;
  width: 60px;
  background: url("/img/menu.png"); }

#sidebar-btn {
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  top: 0px;
  right: -60px; }
  #sidebar-btn span {
    height: 1px;
    background: #111;
    margin-bottom: 5px;
    display: block; }
    #sidebar-btn span:nth-child(2) {
      width: 75%; }
    #sidebar-btn span:nth-child(3) {
      width: 50%; }

#sidebar-menu.visible {
  z-index: 1;
  left: 0px;
  width: 200px;
  transition: left 0.1s linear; }

/*****************************************
 *           Big container
 **************************************** */
.container {
  margin-left: 60px;
  height: calc(100vh - 60px); }

.flex-container {
  max-width: 196px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 10px; }

/*****************************************
 *           Add item button
 **************************************** */
.formContainer {
  position: fixed;
  bottom: 50px;
  right: 30px; }

.addButton {
  position: absolute;
  bottom: 0px;
  right: 0px; }

/*****************************************
 *           Add Item form (animated)
 **************************************** */
.addForm {
  position: static;
  margin-right: 45px;
  margin-bottom: 45px;
  height: 0px;
  width: 0px;
  transition: width 0.2s ease-out;
  transition: height 0.2s ease-out; }

.addForm.displayed {
  height: 200px;
  width: 240px;
  padding: 15px;
  transition: width 0.2s ease-in;
  transition: height 0.2s ease-in;
  background-image: url("/img/bulle.gif"); }
  .addForm.displayed #itemNameInput {
    max-width: 180px;
    position: absolute;
    top: 10px; }
  .addForm.displayed #imgInput {
    max-width: 180px;
    position: absolute;
    top: 60px; }
  .addForm.displayed #addItem {
    position: absolute;
    bottom: 80px; }

/*****************************************
 *           Items
 **************************************** */
.itembox {
  padding: 5px;
  position: relative; }

.modifyItemBox {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 175px;
  height: 195px;
  background-color: #dd6b6b;
  padding: 10px; }
  .modifyItemBox .modifyInput {
    width: 100%; }
  .modifyItemBox .modifyInput__small {
    width: 50%; }
  .modifyItemBox #submitForm {
    position: absolute;
    bottom: 5px;
    right: 5px; }

.active {
  display: block; }

.item {
  background: url("/img/itembox2.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 160px;
  min-height: 200px;
  padding: 8px; }
  .item img {
    height: 134px;
    width: 160px; }
  .item .editItem, .item .selectProduct {
    z-index: 1;
    position: absolute;
    top: 13px;
    right: 14px; }
  .item .selectProduct {
    top: 115px; }
    .item .selectProduct .material-icons {
      font-size: 30px; }
  .item .placeholder {
    position: absolute;
    width: 160px;
    padding: 8px; }
    .item .placeholder .itemName {
      float: left;
      font-weight: bold;
      color: white;
      cursor: pointer; }
    .item .placeholder .itemQuantity {
      float: right; }

/*****************************************
 *           Product Page
 **************************************** */
#product {
  padding-top: 30px;
  width: auto;
  height: auto; }
  #product #productImg {
    float: left;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    margin-right: 30px; }
  #product #productInfo #productTitle {
    font-weight: 600;
    font-size: 24px; }
  #product #productInfo #productStock {
    margin-top: 6px; }

.banner {
  position: relative;
  margin-bottom: 30px; }
  .banner img {
    width: 100%;
    height: auto; }
  .banner span {
    position: absolute;
    font-weight: 600;
    color: white;
    top: 8px;
    margin-left: 40%; }

@media (min-width: 500px) {
  .flex-container {
    max-width: 400px; } }
@media (min-width: 730px) {
  .flex-container {
    max-width: 600px; } }
@media (min-width: 970px) {
  .flex-container {
    margin-left: 20px;
    padding-top: 20px;
    max-width: 100%; }
    .flex-container #nav {
      position: absolute;
      right: 0; }
      .flex-container #nav ul li {
        line-height: 60px;
        float: left;
        list-style-type: none; }
        .flex-container #nav ul li a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 0 10px; }
          .flex-container #nav ul li a:hover {
            background-color: #e86d57; } }

/*# sourceMappingURL=style.css.map */
