
  <div class="wrapper">
    <div id="sidebar" ng-class="{'visible' : leftMenu}">
        <ul>
          <li><ul><li><input type="text" placeholder="Rechercher quelquechose" ng-model="searchbar"></input></li></ul></li>

          <li><a ng-click="toggleAddMenu()">Ajouter un item</a></li>
          <ul ng-show="addItemMenu">
            <li>Nom de l'item</li>
            <li><input type="text" ng-model="itemName"></input></li>
            <li>Image</li>
            <li><input type="text" ng-model="img"></input></li>
            <li><button id="addItem" ng-click="addItem()">Add item</button></li>
          </ul>
          <li><a ng-click="toggleFiltersMenu()">Filtrer</a></li>
            <ul ng-show="showFiltersMenu">
              <li>Des filtres</li>
            </ul>
          <li><a ng-click="toggleSortingMenu()">Trier</a></li>
            <ul ng-show="showSortingMenu">
              <li>Des tris</li>
            </ul>
        </ul>
        <div id="left-pull">
          <div id="sidebar-btn" ng-click="toggleLeftMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

    </div>
    <div id="content" ng-class="{'visible' : leftMenu}">
      <!-- Flex container containing items -->
      <div class="flex-container">
        <div ng-repeat="item in items" class="itembox">
          <div class="item"><img src="http://www.flexheattransfervinyl.ca/images/catalogItems/noItemImage.gif"></img>
            <div id="placeholder">
              <span id="itemName">{{item.itemName}}</span>
              <span id="itemQuantity">{{item.quantity}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- / Flex container -->
    </div>
  </div>
