@import "../../../bower_components/susy/sass/susy"
@import "../../../bower_components/breakpoint-sass/stylesheets/breakpoint"


// Grid settings
$susy:(columns: 24,debug: (image: hide),global-box-sizing: border-box)

// Variables
$computer: 970px
$tablet: 730px
$phone: 480px

// Colors
$menu: url('/img/menu.png')
$footer: $menu
$menu-dropdown-color: #129ab3
$background: url('/img/bg.png')
$menu-dropdown-borders-color: #ffffff
$menu-item-background-color: #e86d57
$left-menu-background: url('/img/menugauche.png')
$sidebar-color: #0ba2bd
$left-menu-buttons-hover: #e86d57
$modifying-item-color: #dd6b6b

@include border-box-sizing


/*****************************************
 *           Page wrapper
 *****************************************/
*
  margin: 0
  padding: 0

html
  min-width: 298px
body
  height: 50px
  background-image: $background



.wrap
  @include container(24)
  min-width: 298px

/*****************************************
 *           Responsive Header
 *****************************************/
#header
  z-index: 2
  position: fixed
  top: 0
  width: 100%
  height: 60px
  line-height: 60px
  background: $menu
  color: white

  .logo
    position: absolute
    top: 0
    left: 3%
    text-transform: uppercase
    img
      height: 50px
      vertical-align: middle
      margin-right: 10px
    #title
      font-size: 30px
      vertical-align: middle
      font-weight: bold

  #openNav
    position: absolute
    right: 0
    top: 0
    width: 20px
    height: 15px
    margin: 20px
    span
      height: 3px
      right: 0
      background-color: #111
      margin-bottom: 5px
      display: block
  #nav
    width: calc(100% - 60px)
    margin-top: 60px
    height: 0px
    float: right
    ul
      background: $menu-dropdown-color
      width: 100%
      li
        float: none
        list-style-type: none
        a
          color: white
          display: block
          text-decoration: none
          height: 40px
          padding: 8px
          &:hover
            background-color: $menu-item-background-color
  #nav ul
    transition: 350ms
    -moz-transition: 350ms
    -webkit-transition: 350ms
    transform: perspective(600px) rotate3d(0,0,0,0)
    -moz-transform: perspective(600px) rotate3d(1,0,0,-90deg)
    -webkit-transform: perspective(600px) rotate3d(1,0,0,-90deg)
    transform-origin: 50% 0
    -moz-transform-origin: 50% 0
    -webkit-transform-origin: 50% 0
    list-style-type: none
  #nav.open
    display: block
    float: right
    margin-top: 60px
    ul
      transform: translateY(0px)
      -moz-transform: perspective(600px) rotate3d(0,0,0,0)
      -webkit-transform:  perspective(600) rotate3d(0,0,0,0)

/*****************************************
 *           Page content
 *****************************************/
.content
  @include container(24)
  height: calc(100% - 60px)
  margin-top: 60px

/*****************************************
 *           Left menu
 *****************************************/

#sidebar-menu
  position: fixed
  left: -200px
  transition: left 0.1s linear
  background-color: $sidebar-color
  height: 100%
  width: 200px
  padding: 20px
  ul
    margin: 0px
    padding: 0px
    li
      margin-bottom: 0px
      list-style: none
      a
        background: $sidebar-color
        color: white
        font-weight: bold
        width: 180px
        padding: 10px
        display: block
        text-decoration: none
        &:hover
          background: $left-menu-buttons-hover

#pull-bar
  display: inline-block
  position: absolute
  right: -60px
  top: 0px
  width: 60px
  background: $menu

#sidebar-btn
  z-index: 2
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 15px
  cursor: pointer
  margin: 20px
  top: 0px
  right: -60px

  span
    height: 1px
    background: #111
    margin-bottom: 5px
    display: block
    &:nth-child(2)
      width: 75%
    &:nth-child(3)
      width: 50%

#sidebar-menu.visible
  z-index: 1
  left: 0px
  width: 200px
  transition: left 0.1s linear


/*****************************************
 *           Big container
 *****************************************/
.container
  margin-left: 60px
  height: calc(100vh - 60px)

.flex-container
  max-width: 196px
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  flex-direction: row
  padding-top: 10px


/*****************************************
 *           Add item button
 *****************************************/
.formContainer
  position: fixed
  bottom: 50px
  right: 30px
.addButton
  position: absolute
  bottom: 0px
  right: 0px

/*****************************************
 *           Add Item form (animated)
 *****************************************/
.addForm
  position: static
  margin-right: 45px
  margin-bottom: 45px
  height: 0px
  width: 0px
  transition: width 0.2s ease-out
  transition: height 0.2s ease-out



.addForm.displayed
  height: 200px
  width: 240px
  padding: 15px
  transition: width 0.2s ease-in
  transition: height 0.2s ease-in
  background-image: url('/img/bulle.gif')
  #itemNameInput
    max-width: 180px
    position: absolute
    top: 10px
  #imgInput
    max-width: 180px
    position: absolute
    top: 60px
  #addItem
    position: absolute
    bottom: 80px

/*****************************************
 *           Items
 *****************************************/
.itembox
  padding: 5px
  position: relative

.modifyItemBox
  display: none
  position: absolute
  top: 5px
  left: 5px
  min-width: 175px
  height: 195px
  background-color: $modifying-item-color
  padding: 10px
  .modifyInput
    width: 100%
  .modifyInput__small
    width: 50%

  #submitForm
    position: absolute
    bottom: 5px
    right: 5px

.active
  display: block

.item
  background: url('/img/itembox2.png')
  background-repeat: no-repeat
  background-size: contain
  min-width: 160px
  min-height: 200px
  padding: 8px

  img
    height: 134px
    width: 160px

  .editItem
    z-index: 1
    position: absolute
    top: 13px
    right: 14px

  .selectProduct
    @extend .editItem
    top: 115px
    .material-icons
      font-size: 30px


  .placeholder
    position: absolute
    width: 160px
    padding: 8px
    .itemName
      float: left
      font-weight: bold
      color: white
      cursor: pointer
    .itemQuantity
      float: right
      font-weight: bold

/*****************************************
 *           Product Page
 *****************************************/
#product
  padding-top: 30px
  width: auto
  height: auto
  margin-bottom: 40px
  #productImg
    float: left
    width: 100px
    height: 100px
    border: 3px solid black
    margin-right: 30px
  #productInfo
    height: 100px
    #productTitle
      font-weight: 600
      font-size: 24px
    #productStock
      margin-top: 6px

.banner
  position: relative
  margin-bottom: 30px
  img
    width: 100%
    height: auto
  span
    position: absolute
    font-weight: 600
    color: white
    top: 8px
    margin-left: 40%

#newItem
  text-align: center
  width: 80%
  margin: 0 auto

.itemRow
  width: 85%
  margin: 0 auto
  height: 120px

#productItems .box
  font-weight: bold
  color: white
  padding: 20px
  height: inherit
  width: 90%
  float: left
  margin-bottom: 20px
  border-radius: 20px
  background-color: #11b2dd
  .progress
    margin-top: 10px
    height: 10px
    width: 100%
    background-color: white
    .current
      height: 10px
      background-color: #5ecd7a
      .ratio
        font-weight: bold
        color: white
        float: right
        margin-top: 10px

.itemRow .control-box
  width: 10%
  height: inherit
  float: right
  display: block
  .material-icons
    font-size: 49px
  .up
    display: block
    height: 50%
  .down
    display: block
    height: 50%

/*****************************************
 *           Recipes
 *****************************************/

.recipe-container
  height: 100px
  width: 80%
  background-color: #fb7c66
  margin: 0 auto
  margin-top: 15px
  border-radius: 20px
  padding: 20px
  #recipeName
    font-weight: bold

.recipe-container.canDo
  background-color: #77f19d

.center-container
  width: 90%
  margin: 0 auto

/*****************************************
 *           Recipe
 *****************************************/
.products-list
  width: 100%
  display: flex
  flex-direction: row
  overflow: scroll
.product
  text-align: center
  margin-right: 5px
.product-img
  height: 100px
  width: 100px
.product-name
  text-align: center
.selectedProduct
  margin-bottom: 20px

.ingredient-img
  height: 100px
  width: 100px
.ingredient-infos
  display: inline
.ingredient-name
  display: inline-block
.ingredient-quantity
  display: block

.product-quantity__input
  display: inline-block
  width: 100px


/*****************************************
 *           Breakpoints
 *****************************************/


@include breakpoint(500px)
  .container
  .flex-container
    max-width: 400px

/*****************************************
 *           Tablets
 *****************************************/

@include breakpoint($tablet)
  .container
  .flex-container
    max-width: 600px

/*****************************************
 *           Computer
 *****************************************/

@include breakpoint($computer)
  .container
  .flex-container
    margin-left: 20px
    padding-top: 20px
    max-width: 100%


    #nav
      position: absolute
      right: 0
      ul
        li
          line-height: 60px
          float: left
          list-style-type: none
          a
            display: block
            color: white
            text-decoration: none
            padding: 0 10px
            &:hover
              background-color: $menu-item-background-color
