@import "../../../bower_components/susy/sass/susy"
@import "../../../bower_components/breakpoint-sass/stylesheets/breakpoint"


// Grid settings
$susy:(columns: 24,debug: (image: hide),global-box-sizing: border-box)

// Variables
$computer: 800px
$tablet: 768px
$phone: 480px

// Colors
$menu: url('/img/menu.png')
$footer: $menu
$menu-dropdown-color: #129ab3
$background: url('/img/bg.png')
$menu-dropdown-borders-color: #ffffff
$menu-item-background-color: #e86d57
$left-menu-background: url('/img/menugauche.png')
$sidebar-color: #0ba2bd
$left-menu-buttons-hover: #e86d57


@include border-box-sizing


/*****************************************
 *           Page wrapper
 *****************************************/
*
  margin: 0
  padding: 0

body
  height: 100%
  background-image: $background


.wrap
  @include container(24)
  height: 100%
  overflow: hidden

/*****************************************
 *           Responsive Header
 *****************************************/
#header
  z-index: 2
  position: relative
  width: 100%
  height: 60px
  line-height: 60px
  background: $menu
  color: white

  .logo
    position: absolute
    top: 0
    left: 3%
    text-transform: uppercase
    img
      height: 50px
      vertical-align: middle
      margin-right: 10px
    #title
      font-size: 30px
      vertical-align: middle
      font-weight: bold

  #nav
    position: absolute
    right: 0
    ul
      li
        line-height: 60px
        float: left
        list-style-type: none
        a
          display: block
          color: white
          text-decoration: none
          padding: 0 10px
          &:hover
            background-color: $menu-item-background-color

/*****************************************
 *           Page content
 *****************************************/
.content
  @include container(24)
  position: relative
  height: 100%
  width: 100%

/*****************************************
 *           Left menu
 *****************************************/

#sidebar-menu
  display: block
  position: absolute
  left: -200px
  top: 0px
  transition: left 0.1s linear
  float: left
  background-color: $sidebar-color
  height: 100%
  width: 200px
  ul
    margin: 0px
    padding: 0px
    li
      margin-bottom: 0px
      list-style: none
      a
        background: $sidebar-color
        color: white
        font-weight: bold
        width: 180px
        padding: 10px
        display: block
        text-decoration: none
        &:hover
          background: $left-menu-buttons-hover

#pull-bar
  display: inline-block
  position: absolute
  right: -60px
  top: 0px
  height: 100%
  width: 60px
  background: $menu

#sidebar-btn
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 15px
  cursor: pointer
  margin: 20px
  top: 0px
  right: -60px

  span
    height: 1px
    background: #111
    margin-bottom: 5px
    display: block
    &:nth-child(2)
      width: 75%
    &:nth-child(3)
      width: 50%

#sidebar-menu.visible
  left: 0px
  width: 200px
  transition: left 0.1s linear

.container.visible
  padding-left: 200px

/*****************************************
 *           Big container
 *****************************************/
.container
  @include span(23 last)
  padding-left: 60px
  height: 100%

@mixin cf
  &:after
    content: " "
    display: block
    clear: both

.flex-container
  padding: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row


.itembox
  padding: 10px

.item
  background-image: url('/img/itembox2.png')
  background-repeat: no-repeat
  background-size: contain
  min-width: 160px
  min-height: 200px
  padding: 8px

  img
    height: 134px
    width: 160px

  .placeholder
    position: absolute
    width: 160px
    padding: 8px
    .itemName
      float: left
    .itemQuantity
      float: right

@include breakpoint($computer)





@include breakpoint($tablet)
  .wrap
